<!-- メッセージが10件以上の場合 -->
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>メッセージ</h4>
  </div>
  <div class="panel-body">
      <% @messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>
          <div class="header"><strong><%= user.name %></strong> <%= message.message_time %></div>
          <%= message.body %>
        <% end %>
        <hr>
      <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ送信
  </div>
  <div class="panel-body">
    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <div>
        <%= f.submit "メッセージを送る", class: 'btn btn-sm btn-default' %>
      </div>
    <% end %>
  </div>
</div>
