<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>
          <%= user.name %>
        </h4>
      </div>
      <div class="panel-body">
        <%= profile_img(user) %>
        <%= user.name %>
        </a>
        <div class="clearfix"></div>
        <hr>
        <ul class="list-unstyled">
          <li>
            <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
          </li>
          <li>
            <%= render partial: 'follow_form', locals: {user: user} if signed_in? %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
</div>
